**/*.undodir
**/*.swp
**/*.swo
.clwb/
.idea/
**/*build*/
Dockerfile
d
ips
Singularity.def
ips.sif
resources/cnf/*.cnf
resources/cnf/exp_u700s/*.cnf
resources/cnf/exp_u700s_30/*.cnf
**/*.csv
compile_commands.json
test_sat_cert.sh
heuristic.txt
backdoor.txt
proof.txt
